#zoom {
    cursor: pointer;
    overflow: auto;
    position: relative;
}

#zoom img {
    transition: transform 0.3s ease;
}

#zoom:hover img {
    transform: scale(1.2);
}

#zoom img.zoomed {
    transform: scale(2); 
}

#manos {
    width: 100%;
    height: auto;
    position: relative;
}

  